<!DOCTYPE html>
<html>
  <head>
    <title>Gem-Rating</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="http://www.gem.ooo/img/shrd/lookandfeel/51/16/877/4830a109af613_gemlogoicon192x192.png.999x16x16.ico">
  </head>

  <body>
  	<%= render "layouts/header" %>
    <%= yield %>
  </body>
</html>
